# InterSystems Python Driver
intersystems-irispython 

# used for creating embedding models from plain text
sentence-transformers 

# Used for tabular data handling
pandas

## Used for easier downloading and parsing of fhir resources
fhirpy

## Used for creating and validating FHIR resources
fhir.resources

# Used for creating very basic local LLMs 
transformers

# OpenAI for NVCLIP embeddings
openai

# Web App Framework
streamlit

# Visualization
plotly

# Testing (for P1 implementation)
pytest
pytest-cov
pytest-asyncio